a {
    font-family:'Times New Roman', Times, serif;
    display:contents;
}

nav {

}

main  {
    
}
#team_blue {
    color: blue;
    position: absolute;
    left: 0px;
}

#team_red {
    color: red;
    position:absolute;
    right: 0px;
}

#submit_recherche{
    position: absolute;
    right: 10px;

}

#barre_recherche {
    position: absolute;
    right: 95px;
}